* {
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: blanchedalmond;
    cursor: url(img/hammer.png), pointer;
} 

/* Game Mechanics*/
.container {
    border: solid 5px black;
    height: 99%;
    float: right;
    cursor: pointer;
}

#start {
    text-align: center;
    position: absolute;
    top: 105%;
    left: 23%;
}

#stop {
    text-align: center;
    position: absolute;
    top: 105%;
    left: 25%;
    display: none;
}

.start, .stop {
    background-color: red;
    color: white;
    font-size: 25px;
    padding: 15px 65px;
    border-radius: 10px;
}

.start:hover, .stop:hover {
    background-color: lightgray;
    color: black;   
}

.scoreboard {
    border-bottom: solid 5px gray;
    width: 18%;
    height: 18%;
    position: absolute;
    top: 12%;
    left: 75.5%;
}
.score {
    font-size: 90px;
    position: relative;
    top: 2%;
}

.mechanics {
    position: relative;
    top: 28%;
}


/* GAME AREA */

.hole {
    margin: 120px 2px 2px 2px;
    padding: 15px;
    float: left;
}

/* positions of each moles */

#object1, #object19 {
    position: absolute;
    top: 12%;
    left: 5.8%;
    display: none;
}

#object2, #object20 {
    position: absolute;
    top: 12%;
    left: 27.5%;
    display: none;
}

#object3, #object21 {
    position: absolute;
    top: 12%;
    left: 49.3%;
    display: none;
}

#object4, #object22 {
    position: absolute;
    top: 59.5%;
    left: 5.7%;
    display: none;
}

#object5, #object23 {
    position: absolute;
    top: 59.5%;
    left: 27.5%;
    display: none;
}

#object6, #object24 {
    position: absolute;
    top: 59.5%;
    left: 49.3%;
    display: none;
}


/* worm and clock positions */

#object7, #object13 {
    position: absolute;
    top: 20%;
    left: 8%;
    display: none;
}

#object8, #object14 {
    position: absolute;
    top: 20%;
    left: 30%;
    display: none;
}

#object9, #object15{
    position: absolute;
    top: 20%;
    left: 52%;
    display: none;
}

#object10, #object16 {
    position: absolute;
    top: 67%;
    left: 8%;
    display: none;
}

#object11, #object17 {
    position: absolute;
    top: 67%;
    left: 30%;
    display: none;
}

#object12, #object18 {
    position: absolute;
    top: 67%;
    left: 52%;
    display: none;
}
